body{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #444444;
	overflow-x: hidden;
}
img{
	max-width: 100%;
    height: auto;
}
input:focus{
   outline: none;
}
a:hover, a:focus, a:visited, a:active,
button:hover, button:focus, button:visited, button:active{
	text-decoration: none;
	outline: none;
}
.mercado-panel a{
    color: #666666;
}
.content{
  min-height: calc(100vh - 70px - 64px);
}

